<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>You're receiving this email because you requested a password reset for your Pendeza Salon account.</p>
    <p>Please click the link below to reset your password:</p>
    <p>
        <a href="http://{{ domain }}{% url 'userauthentication:reset-password' uidb64=uid token=token %}">
            Reset Password
        </a>
    </p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thanks,<br>The Pendeza Salon Team</p>
</body>
</html>