# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
/venv/
/myvenv/
/cleanenv/

# Environment variables
.env

# Media files
/media/

# SQLite DB
db.sqlite3

# Node modules
node_modules/
